langgraph
langchain
fastapi 
uvicorn[standard]
requests
numpy

google-generativeai
langchain_google_genai
sentence-transformers
qdrant-client

python-pptx
python-docx
unstructured
pypdf
beautifulsoup4
pdfplumber

logfire[fastapi,requests]
loguru


langchain-groq

flashrank